<table>
    <tr (click)="reset()">
      <th colspan="1">TOTAL:</th>
      <th colspan="3">{{total | currency}}</th>
    </tr>
    <tr>
      <td><button mat-raised-button color="accent" (click)="operationClick('add')"  class="symbol" [style.backgroundColor]="plusSign">+</button></td>
      <td><button mat-raised-button color="accent" (click)="amountClick(fiveHundred.amount)" [style.backgroundColor]="fiveHundred.color">{{fiveHundred.amount | currency}}</button></td>
      <td><button mat-raised-button color="accent" (click)="amountClick(thousand.amount)" [style.backgroundColor]="thousand.color">{{thousand.amount | currency}}</button></td>
    </tr>
    <tr>
        <td><button mat-raised-button color="accent" (click)="operationClick('subtract')"  class="symbol" [style.backgroundColor]="minusSign">−</button></td>
        <td><button mat-raised-button color="accent" (click)="amountClick(fiveThousand.amount)" [style.backgroundColor]="fiveThousand.color">{{fiveThousand.amount | currency}}</button></td>
        <td><button mat-raised-button color="accent" (click)="amountClick(tenThousand.amount)" [style.backgroundColor]="tenThousand.color">{{tenThousand.amount | currency}}</button></td>
      </tr>
      <tr>
        <td><button mat-raised-button color="accent" (click)="operationClick('divide')"  class="symbol" [style.backgroundColor]="divisionSign">÷</button></td>
        <td><button mat-raised-button color="accent" (click)="amountClick(twentyThousand.amount)" [style.backgroundColor]="twentyThousand.color">{{twentyThousand.amount | currency}}</button></td>
        <td><button mat-raised-button color="accent" (click)="amountClick(fiftyThousand.amount)" [style.backgroundColor]="fiftyThousand.color">{{fiftyThousand.amount | currency}}</button></td>
      </tr>
      <tr>
        <td><button mat-raised-button color="accent" (click)="operationClick('multiply')"  class="symbol" [style.backgroundColor]="multiplicationSign">×</button></td>
        <td><button mat-raised-button color="accent" (click)="amountClick(oneHundredThousand.amount)" [style.backgroundColor]="oneHundredThousand.color">{{oneHundredThousand.amount | currency}}</button></td>
        <td><button mat-raised-button color="accent" (click)="amountClick(promissoryNote.amount)" [style.backgroundColor]="promissoryNote.color">PROMISSORY<br> NOTE <br>{{promissoryNote.amount | currency}}</button></td>
      </tr>
  </table>